.App {
    text-align: center;
    font-family: Arial, sans-serif;
}

button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.image-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    transition: opacity 0.5s ease;
}

.image-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 150px;
    background-color: #f9f9f9;
}

.image-card img {
    max-width: 100%;
    border-radius: 5px;
}

.image-card.common {
    border-color: #bfbfbf;
}

.image-card.uncommon {
    border-color: #4caf50;
}

image-card.rare {
    border-color: #2196f3;
}

.image-card.epic {
    border-color: #9c27b0;
}

.image-card.legendary {
    border-color: #ff9800;
}


.image-grid.hidden {
    opacity: 0;
}

/* Contenedor general de la aplicación */
.app-container {
    display: flex;
    height: 100vh; /* Toma toda la altura de la pantalla */
    overflow: hidden;
  }
  
  .main-content {
    flex: 1;
    background-color: #f4f4f9;
    padding: 20px;
    overflow-y: auto; /* Habilitar el scroll en caso de que el contenido crezca */
  }
  
.image-grid.finalizing {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;
}

.finalizing-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 2rem;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    animation: fadeInOut 1s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: scale(0.8) translate(-50%, -50%);
    }
    50% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: scale(0.8) translate(-50%, -50%);
    }
}
